/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  background-color: #706C61;
}
/**this is the header**/
.header {
  position: absolute;
  background-color: #f8f4e380;
  color: black;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  max-height: 4rem;
  overflow: hidden;
  z-index: 100;
}
/**this .header > ul i got inspiration from oliver on when he showed us on meeting 29.09.23**/
.header > ul {
  list-style:none;
  display: flex;
  gap: 5vh;
  margin-left: 10%;
}

/**this is the button**/
#menu li{
  display: inline-block;
  padding: none;
  margin: none;
}
/**this menu li and that i copied, forgot to save where i got it from, but some of the code on this list is not written by me**/
#menu li a, #menu li span{
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  max-width: 13vh;
  width: 130px;
  text-align: center;
  padding: 5px;
  transition: background-color 0.5s ease-out 50ms;
  border-radius: 1vh;
}
#menu li:hover a, #menu li span{
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}

/**this is the logo**/
.logo {
  object-fit: fixed;
  max-width: 14vh;
  max-height: auto;
}


/**this is for main/index page**/
#index-page{
/**this is the box container**/
.box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
/**this is the left box**/
.box{
align-items: center;
width: 30rem;
max-height:500px;
height: 500px;
float: left;
padding: 20px;
background-color: rgba(0, 0, 0, 0.485);
color: white;
font-family:Arial, Helvetica, sans-serif;
overflow-y: hidden;
border-top-left-radius: 2rem;
border-bottom-left-radius: 2rem;
}
/**this is the right box**/
.box-1{
  text-align: left;
  width: auto;
  max-height:500px;
  height: 500px;
  float: left;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  }
.background {
  min-width: 100%;
  min-height: 100%;
  width: 150px;
  height: 70rem;
  /**this line of code i got from figma**/
  background: radial-gradient(201.53% 100% at 0% 0%, #7D80DA 0%, rgba(42, 43, 42, 0.75) 32.54%), radial-gradient(201.53% 100% at 100% 100%, #7D80DA 8.37%, rgba(42, 43, 42, 0.00) 58.71%);
}
}


/**this is for profile page**/

#profile-page {

  .position {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .profile {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.50);
    padding: 2rem;
    overflow-y: hidden;
  }
  .profile-info{
    background-color: white;
    max-width: 10rem;
    position: grid;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
  }
}

/**this is for movie list page**/
#movielist-page{
  .background{
    position:static;
  }
 /**this is the text and layout for positioning for text and the picture**/
  .upper-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 30rem;
    max-height: 30rem;
    overflow-y: hidden;
    padding-left: 5rem;
  }
  .left{
    position:absolute;
    width: 80%;
    padding-top: 8rem;
    color:rgb(255, 255, 255);
    font-size: larger;
    z-index: 1;
  }

  /**this is the rock banner/picture with filter**/
  .right{
    width: 100%;
  }
  .background{
    max-width: 100%;
    width: 100%;
    height: 80rem;
    max-height: 100rem;
    overflow: hidden;
    background-color: #2A2B2A;
    z-index: -2;
  }
  .banner{
    background-image:
        url(../../assets/images/therock.png);
    background-size: cover;
    background-position: right center;
    width: 960px;
    height: 640px;
  }
  .banner-filter{
    background: linear-gradient(
      to left, transparent, #2A2B2A
    );
    width: 960px;
    height: 640px;
    position: absolute;
  }

  /**this is the container and boxes for the movies**/
  .box-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0%;
    width: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
    z-index: 5;
  }
  .movie-box{
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
  }
  .picture-fit{
    height: 100%;
    transition: all .2s ease-in-out;
    border-radius: 5px;
  }
  .picture-fit:hover{
    transform: scale(1.1);
  }

}

/**this is for the movieinfo page**/
#movieinfo-page{
  .background{
    background-image:
    url(../../assets/images/hobbs-shaw.jpg);
      background-size: cover;
      background-position: center;
      height: 1000px;
      width: fit-content;
      min-height: 100%;
      min-width: 100%;
  }

  /**this is the background box for the movie picture and the cast members**/
  .box{
    background-color: rgba(0, 0, 0, 0.485);
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-60%, -30%);
    max-width: fit-content;
    max-height: fit-content;
    min-width: 1250px;
    min-height: fit-content;
    border-radius: 10px;
    overflow: hidden;
  }
  /**this is the right side of the page**/
  .right{
    align-items: center;
    float: left;
    padding: 20px;
    overflow-y: hidden;
  }
  .right-photo{
    background-image: url(../../assets/images/Square_Eyes_Cover1.jpeg);
    width: fit-content;
    height: auto;
    min-height: 800px;
    min-width: 500px;
    border-radius: 10px;
  }
  /**this is for the left side of the page**/
  .left{
    position: absolute;
    top: 0%;
    left: 50%;
    text-align: center;
    width: 500px;
    height: 600px;
    float: left;
    padding: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    overflow-y: hidden;
  }
  .float-container{
    overflow: hidden;
    margin-top: 15%;
    padding: 20px;
  }
  .float-child{
    width: auto;
    float: left;
    padding: 20px;
    color: white;
  }
  .description{
    max-width: 100%;
  }
  .picture{
    height: 110px;
    width: 80px;
    border-radius: 50px;
  }
}
/**this is for the about page**/
#about-page{
/**this is the framework? the layout of where things should be**/
  .box-layout{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    width: 90%;
    padding-left: 10%;
    padding-top: 7rem;
  }
  .box-background{
    background-color: rgba(0, 0, 0, 0.485);
    color: aliceblue;
    padding: 20px;
    border-radius: 1.5rem;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    line-height: 1.5rem;
    font-family:  'Arial Narrow', sans-serif;
  }
  .photo{
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
}
/**this is for contact page**/
#contact-page{
  .background{
    background-image: url(../../assets/images/contact-us.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: fit-content;
    min-height: 100%;
    min-width: 100%;
  }
  /**this is the contact us banner/text**/
  .title{
    position: absolute;
    width: 100%;
    height: fit-content;
    text-align: center;
    top: 9.5rem;
  }
  .background-filter{
    background: linear-gradient(
      to left, transparent, #2A2B2A
    );
    width: 100%;
    height: 100%;
    position: relative;
  }
  /**this is the box in the middle**/
  .box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 30rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.50);
    padding: 2rem;
    overflow-y: hidden;
  }
  /**this is the framework for the box, to make it 2 colons**/
  .grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
    width: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
    z-index: 5;
  }
  .left, .right, .text-decoration{
    color: #ffffff;
  }
/**this is the code that i got from google symbols**/
.material-symbols-outlined {
  position:absolute;
  left:7%;
  transform: translate(-50%, -20%);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

}


/**footer**/
.footer {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: #f8f4e380;
  color: black;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  max-height: 4rem;
  z-index: 100;
}
